# Dependencies
node_modules/
.pnp
.pnp.*

# Next.js
.next/
out/
build/

# Production
dist/
*.exe

# Misc
.DS_Store
*.pem
*.log
.vercel
.turbo

# Env files
.env*

# TypeScript
*.tsbuildinfo
next-env.d.ts
